* {box-sizing: border-box;}
body{margin: 3%;font-family: sans-serif;font-size: 14px;line-height:1.5}
label{ font-weight: bold }

.my-masonry-grid {
  display: flex;
  margin-left: -20px;
}
.my-masonry-grid_column {
  border-left: 20px solid transparent;
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements in <masonry> */
  background: #ddd;
  padding: 20px;
  margin-bottom: 20px;
}
  .char-img{
    width: 100%;
  }